.notification .nav-icon {
  display: flex;
  margin-right: 30px;
  color: black;
}

.notification .badge {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-top: 0%;
  width: 15px;
  height: 15px;
  font-size: 7px;
  text-align: center;
}
